/* global styling */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

/* header styling */

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

/* main content styling */

.content {
  display: flex;
  flex: 1;
}

/* sidebar styling */

.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  flex-shrink: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.sidebar ul li a {
  color: white;
}

/* card styling */

.cards {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  padding: 32px;
}

.card {
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  display: flex;
  width: 300px;
}

/* footer styling */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
  background: #eee;
  color: darkmagenta;
}
